// Variables
$main-dark: #0D164D;
$sub-dark: #182156;
$main-font: #161819;
$sub-font: #5A616A;
$light-font: #B9BDC1;
$contact-font: #A1A8AF;
$menu-hover: #727374;
$link-hover: #696969;
$main-green: #0BB944;
$navigation-bg: #19B431;
$active-navigation-bg: #48D15E;
$dark-bg: #FAFAFA;
$separator: #e8e8e8;
$form-bg: #F2F2F2;
$arrow: #E6E6E6;
