// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";
// Bootstrap and its default variables
@import "bootstrap/bootstrap";
// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

// MENU
//==================================================

.header-menu {
  height: 72px;
  background-color: $main-dark;

  .logo-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35vw;
    height: 72px;
    background-color: $main-dark;

    img {
      margin-right: 30px;
      height: 43px;
    }
  }

  .menu-block {
    position: absolute;
    width: 65vw;
    height: 72px;
    top: 0;
    right: 0;
    text-align: right;
    background-color: white;

    .menu {
      height: 72px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      float: right;

      .link {
        height: 72px;
        float: left;
        margin-left: 65px;

        a {
          position: relative;
          display: block;
          font-size: 16px;
          color: $main-font;
          line-height: 72px;
          font-family: 'BioSansRegular', serif;
          text-align: center;
          text-decoration: none;
          transition: 0.2s all ease-out;
        }

        &:hover {
          a {
            color: $menu-hover;
          }
        }
      }

      .phone-link {
        height: 72px;
        float: left;
        margin-left: 40px;

        a {
          display: block;
          color: $main-font;
          text-align: center;
          font-size: 16px;
          font-family: 'BioSansRegular', serif;
          line-height: 72px;
          text-decoration: none;
          transition: 0.2s all ease-out;

          img {
            width: 29px;
            height: 29px;
            margin-right: 5px;
          }
        }

        &:hover {
          a {
            color: $menu-hover;
          }
        }
      }

      .lang {
        height: 72px;
        float: left;
        margin: 0 50px 0 40px;

        a {
          position: relative;
          display: block;
          color: $sub-font;
          font-family: 'BioSansRegular', serif;
          font-size: 16px;
          text-align: center;
          line-height: 20px;
          margin-top: 26px;
          padding: 0 16px;
          text-decoration: none;
          border-left: 1px solid $separator;

          img {
            margin-left: 2px;
            margin-bottom: 3px;
          }
        }
      }
    }

    .lang-block {
      width: 109px;
      background-color: white;
      position: absolute;
      right: 10px;
      top: 72px;
      padding: 8px 14px;
      box-shadow: 0px 5px 10px #00000029;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s all ease-in;
      transform: translateY(-20px);

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          text-align: left;

          a {
            font-size: 14px;
            font-family: 'BioSansRegular', serif;
            line-height: 30px;
            color: $main-font;
            text-decoration: none;

            img {
              margin-right: 10px;
            }
          }
        }
      }

      &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// BANNER
//==================================================

.banner {
  position: relative;
  height: 612px;
  background: linear-gradient(90deg, white 50%, $dark-bg 50%);
  overflow: hidden;

  .bg-block {
    position: absolute;
    top: 0;
    width: 100%;

    .top {
      position: relative;
      height: 100%;
      background-color: $sub-dark;

      .banner-slider {
        position: relative;
        height: 100%;
        margin: 0 0 0 auto;

        .slide-item {
          height: 458px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            padding-left: 1px;
          }
        }
      }
    }
  }

  .header-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 349px;
    padding: 74px 76px 60px 46px;
    background: rgba($sub-dark, 0.75) 0% 0% no-repeat padding-box;

    .banner-quote {
      height: 100%;

      .slide-item {
        height: 100%;

        h1 {
          font-family: 'BioSansSemiBold', serif;
          color: white;
          text-transform: uppercase;
          font-size: 36px;
          height: 100%;
          padding-left: 1px;
        }
      }
    }


    .separator {
      position: relative;
      width: 100%;
      height: 5px;
      background: rgba($main-green, 0.45) 0% 0% no-repeat padding-box;

      .progress-status {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        background-color: $main-green;

        &.start-animation {
          animation-name: separatorAnim;
          animation-iteration-count: infinite;
          animation-duration: 5s;
        }
      }
    }
  }

  .details-block {
    position: relative;
    width: 100%;
    background-color: $main-green;
    padding: 26px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h3 {
      font-family: 'BioSansSemiBold', serif;
      font-size: 28px;
      color: white;
    }

    h4 {
      margin-top: 15px;
      font-family: 'BioSansRegular', serif;
      font-size: 18px;
      color: white;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -200%;
      bottom: 0;
      width: 200%;
      height: 100%;
      background: url(../img/pattern.png);
      opacity: 0.5;
    }
  }

  .quote-block {
    width: 100%;
    height: 154px;
    padding: 25px 65px;
    background-color: $dark-bg;

    p {
      font-size: 26px;
      font-family: 'BioSansSemiBold', serif;
      line-height: 32px;
      color: $main-font;
    }
  }

  .col-lg-6 {
    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: calc(-200% - 40px);
        bottom: 0;
        width: 200%;
        height: 100%;
        background: url(../img/pattern.png);
        opacity: 0.5;
      }
    }
  }
}


// OFFERS
//==================================================

.offers {
  background: url("../img/pattern.png");

  .container {
    background-color: white;
  }

  h2 {
    margin: 74px 0 45px 0;
  }

  .col-4 {
    &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6) {
      .offer-item {
        border-left: 1px solid $separator;
      }
    }
  }

  .offer-item {
    height: 165px;
    padding-left: 40px;
    margin-bottom: 55px;
    overflow: hidden;
    transition: 0.4s all ease-out;
    z-index: 2;

    img {
      height: 52px;
      transition: 0.2s all ease-out;
    }

    h4 {
      font-size: 18px;
      font-family: 'BioSansSemiBold', serif;
      color: $main-font;
      margin-top: 18px;
      transition: 0.3s all ease-out;
    }

    p {
      font-size: 14px;
      font-family: 'BioSansRegular', serif;
      color: $sub-font;
      margin-top: 11px;
    }

    a {
      position: absolute;
      display: inline-block;
      color: $main-font;
      font-size: 16px;
      font-family: 'BioSansSemiBold', serif;
      padding-bottom: 2px;
      text-decoration: none;
      transition: 0.2s all ease-out;
      visibility: hidden;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $main-green;
      }

      &:hover {
        color: $link-hover;
      }
    }

    &.pad-s {
      h4 {
        padding-right: 40px;
      }
    }

    &.pad-m {
      h4 {
        padding-right: 60px;
      }
    }

    &:hover {
      img {
        margin-top: -80px;
      }

      h4 {
        margin-top: -10px;
      }

      a {
        visibility: visible;
      }
    }
  }
}

// PROJECTS
//==================================================

.projects-title {
  background: url("../img/pattern.png");

  .container {
    padding-top: 150px;
    padding-bottom: 18px;
    background-color: white;
  }
}

.projects {
  background: linear-gradient(90deg, white 50%, $sub-dark 50%);

  .info {
    position: relative;
    background-color: $dark-bg;
    padding: 26px 40px 40px 40px;

    .slide-item {
      display: flex;
      min-height: 290px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      span {
        color: $light-font;
        font-family: 'BioSansRegular', serif;
      }

      p {
        font-size: 14px;
        font-family: 'BioSansRegular', serif;
        color: $sub-font;
        margin-top: 11px;
        line-height: 24px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          position: relative;
          font-size: 14px;
          font-family: 'BioSansRegular', serif;
          color: $sub-font;
          line-height: 24px;
          padding-left: 14px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 5px;
            height: 5px;
            left: 0;
            top: 10px;
            background-color: $main-green;
          }
        }
      }

      a {
        position: relative;
        display: inline-block;
        color: $main-font;
        font-size: 16px;
        font-family: 'BioSansSemiBold', serif;
        margin-top: 40px;
        padding-bottom: 2px;
        text-decoration: none;
        transition: 0.2s all ease-out;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: $main-green;
        }

        &:hover {
          color: $link-hover;
        }
      }
    }

    .gallery-navigation {
      position: absolute;
      right: 40px;
      bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        background-color: $navigation-bg;
        box-shadow: 0px 3px 6px #00000029;
        transition: 0.2s all ease-in;

        &:hover {
          background-color: $active-navigation-bg;
          cursor: pointer;
        }
      }

      .right-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        margin-left: 1px;
        background-color: $navigation-bg;
        box-shadow: 0px 3px 6px #00000029;
        transition: 0.2s all ease-in;

        &:hover {
          background-color: $active-navigation-bg;
          cursor: pointer;
        }
      }
    }

  }

  .projects-slider {
    margin-top: -18px;
    margin-bottom: 18px;
    margin-left: 22px;
    border-right: 6px solid $main-green;
    border-bottom: 6px solid $main-green;

    a {
      display: block;
      height: 100%;

      img {
        height: 100%;
        max-height: 350px;
      }
    }
  }

  .col-12 {
    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
      background-color: $sub-dark;
    }
  }

  .slick-arrow {
    display: none !important;
  }
}


// CLIENTS
//==================================================

.clients {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: url("../img/pattern.png");
    z-index: -1;
  }

  .container {
    padding-top: 117px;
    padding-bottom: 150px;
    background-color: white;
  }

  .clients-slider {
    padding: 0 40px;
    margin-top: 21px;

    .client {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(100%) opacity(50%);
        transition: 0.2s all ease-out;
      }

      &:hover {
        img {
          filter: none;
        }
      }
    }

    .slick-arrow {
      display: none !important;
    }

    .slick-dots {
      bottom: -65px !important;

      li {
        button {
          &:before {
            font-size: 12px;
          }
        }

        &.slick-active {
          button {
            &:before {
              opacity: 1;
              color: $main-green
            }
          }
        }
      }
    }
  }
}

// QUOTE
//==================================================

.quote {
  position: relative;
  background-color: $sub-dark;

  &:after {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/bg-slogan.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.32;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .col-lg-6 {
    &:first-child {
      padding-right: 45px;
    }

    &:last-child {
      padding: 50px 20px;
    }
  }

  img {
    height: 310px;
    margin-top: -19px;
    margin-bottom: 19px;
    border-left: 6px solid #0BB944;
    border-bottom: 6px solid #0BB944;
    width: 100%;
  }

  p {
    font-size: 18px;
    font-family: 'BioSansRegular', serif;
    color: $main-green;
    line-height: 24px;
  }

  h5 {
    font-size: 22px;
    font-family: 'BioSansSemiBold', serif;
    line-height: 36px;
    color: white;
    margin-top: 30px;
  }
}


// CONTACT
//==================================================

.contact {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url("../img/pattern.png");
    z-index: -1;
  }

  .container {
    padding-top: 73px;
    padding-bottom: 100px;
    background-color: white;
  }

  .contact-data {
    padding-left: 40px;
    margin-top: 23px;

    .title {
      font-size: 14px;
      font-family: 'BioSansRegular', serif;
      color: $contact-font;
      line-height: 24px;
    }

    .link {
      display: block;
      font-size: 16px;
      font-family: 'BioSansRegular', serif;
      color: $main-font;
      line-height: 24px;
      text-decoration: none;
    }

    p {
      font-size: 16px;
      font-family: 'BioSansRegular', serif;
      color: $main-font;
      line-height: 24px;
    }

    .company-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row;

      .company-data {
        padding-left: 80px;
      }
    }

    .owner {
      margin-top: 26px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row;

      .photo {
        width: 65px;
        height: 65px;
        border-radius: 100px;
      }

      .owner-data {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 10px;

        .owner-name {
          font-family: 'BioSansSemiBold', serif;
          margin-bottom: 4px;
        }

        .owner-status {
          margin: 0;
          line-height: 20px;
        }
      }

      .socials {
        padding-left: 12px;

        a {
          text-decoration: none;
          margin-right: 12px;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    form {
      input, textarea {
        width: 100%;
        margin-bottom: 15px;
        padding: 14px 16px;
        color: $main-font;
        font-size: 16px;
        font-family: 'BioSansRegular', serif;
        background-color: $form-bg;
        border: none;

        &::placeholder {
          font-size: 16px;
          font-family: 'BioSansRegular', serif;
          color: $contact-font;
        }
      }

      textarea {
        min-height: 122px;
      }

      .actions-block {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .form-send-message {
          width: 100%;
          font-size: 16px;
          font-family: 'BioSansSemiBold', serif;
          color: $main-green;
          margin-bottom: 0;
          text-align: left;
        }

        button {
          width: 119px;
          height: 37px;
          background-color: $navigation-bg;
          box-shadow: 0px 3px 6px #00000029;
          transition: 0.2s all ease-in;
          color: white;
          font-size: 16px;
          font-family: 'BioSansSemiBold', serif;
          border: none;

          &:hover {
            background-color: $active-navigation-bg;
          }
        }
      }
    }
  }
}

// MAP
//==================================================

.map-section {
  position: relative;
  .hidden-marker {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
  }

  #googleMap {
    width: 100%;
    height: 415px;
  }
}


// MAP
//==================================================

.footer {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url("../img/pattern.png");
    z-index: -1;
  }

  .container {
    padding-left: 40px;
    background-color: white;

    span {
      display: block;
      padding: 40px 0;
      color: $contact-font;
      font-size: 14px;
      font-family: 'BioSansRegular', serif;
    }
  }

  .to-top {
    position: absolute;
    top: 24px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color: $navigation-bg;
    box-shadow: 0px 3px 6px #00000029;
    transition: 0.2s all ease-in;

    img {
      height: 32px;
    }

    &:hover {
      background-color: $active-navigation-bg;
    }
  }
}


// MODALS
//==================================================

.modal-offer {
  .modal-dialog {
    max-width: 1090px;

    .modal-content {
      min-height: 480px;
      border-radius: 0;
      border: none !important;
      box-shadow: 0px 3px 25px #00000034;
      transform: scale(0.9);
      transition: 0.4s all ease-out;

      .modal-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 350px;
        padding: 0;

        .info {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          min-height: 480px;
          padding: 40px 350px 40px 40px;

          .info-content {
            h2 {
              font-size: 26px;
              font-family: 'BioSansSemiBold', serif;
              line-height: 32px;
              color: $main-font;
              margin-bottom: 20px;
            }

            p {
              font-size: 14px;
              font-family: 'BioSansRegular', serif;
              line-height: 24px;
              color: $sub-font;
            }

            ul {
              list-style: none;
              padding: 0;

              li {
                position: relative;
                font-size: 14px;
                font-family: 'BioSansRegular', serif;
                color: $sub-font;
                line-height: 24px;
                padding-left: 14px;

                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  left: 0;
                  top: 10px;
                  background-color: $main-green;
                }
              }
            }
          }

          a {
            position: relative;
            display: inline-block;
            color: $main-font;
            font-size: 16px;
            font-family: 'BioSansSemiBold', serif;
            padding-bottom: 2px;
            text-decoration: none;
            margin-top: 50px;
            transition: 0.2s all ease-out;

            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 2px;
              background-color: $main-green;
            }

            &:hover {
              color: $link-hover;
            }
          }
        }

        .side {
          .bg {
            position: absolute;
            width: 270px;
            top: 0;
            bottom: 0;
            right: 0;

            .side-img {
              width: 270px;
              height: 100%;
              object-fit: cover;
            }

            &:after {
              content: '';
              position: absolute;
              display: block;
              width: 40px;
              height: 100%;
              top: 0;
              bottom: 0;
              margin-left: -40px;
              background: url("../img/pattern-bg-white.png");
              background-position: -100px;
            }
          }

          .close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            opacity: 1;

            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }

  &.show {
    .modal-content {
      transform: scale(1);
    }
  }
}

.modal-project {
  .modal-dialog {
    max-width: 1090px;

    .modal-content {
      border-radius: 0;
      border: none !important;
      box-shadow: 0px 3px 25px #00000034;
      transform: scale(0.9);
      transition: 0.4s all ease-out;

      .modal-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 300px;
        padding: 0;

        .gallery {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 100%;
          height: 100%;
          padding: 15px 200px 15px 15px;
          overflow: hidden;

          .preview {
            position: relative;
            width: 700px;
            height: 465px;

            .left-arrow-preview {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              top: calc(50% - 26px);
              left: 0;
              width: 52px;
              height: 52px;
              background-color: $navigation-bg;
              box-shadow: 0px 3px 6px #00000029;
              transition: 0.2s all ease-in;
              z-index: 1;

              &:hover {
                background-color: $active-navigation-bg;
                cursor: pointer;
              }
            }

            .right-arrow-preview {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              top: calc(50% - 26px);
              right: 0;
              width: 52px;
              height: 52px;
              margin-left: 1px;
              background-color: $navigation-bg;
              box-shadow: 0px 3px 6px #00000029;
              transition: 0.2s all ease-in;
              z-index: 1;

              &:hover {
                background-color: $active-navigation-bg;
                cursor: pointer;
              }
            }

            .preview-img {
              img {
                width: 700px;
                height: 465px;
                object-fit: cover;
              }
            }
          }

          .slider-nav {
            width: 165px;
            height: 465px;
            margin-left: 15px;

            img {
              width: 165px;
              height: 110px;
              object-fit: cover;
            }

            .slick-slide {
              margin: 3px 0;
            }

            .slick-list {
              margin: -3px 0;
            }
          }

          .slick-dots {
            display: none !important;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 170px;
            top: 0;
            bottom: 0;
            right: 0;
            margin-top: -100px;
            background: url("../img/pattern-bg-white.png");
            z-index: -1;
          }
        }

        .close {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          opacity: 1;

          img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  &.show {
    .modal-content {
      transform: scale(1);
    }
  }
}

.modal-reference {
  .modal-dialog {
    max-width: 990px;

    .modal-content {
      border-radius: 0;
      border: none !important;
      box-shadow: 0px 3px 25px #00000034;
      transform: scale(0.9);
      transition: 0.4s all ease-out;

      .modal-body {
        position: relative;
        min-height: 300px;
        max-height: 700px;
        padding: 0;

        .attachment-wrapper {
          width: calc(100% - 35px);
          min-height: 300px;
          max-height: 700px;
          overflow-y: scroll;

          .attachment {
            width: 100%;
          }
        }

        .side-close {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 35px;
          height: 100%;
          overflow: hidden;

          .close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            opacity: 1;

            img {
              width: 35px;
              height: 35px;
            }
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../img/pattern-bg-white.png);
            background-position: -50px;
          }
        }
      }
    }
  }

  &.show {
    .modal-content {
      transform: scale(1);
    }
  }
}


// RESPONSE
//==================================================

@media(min-width: 992px) and (max-width: 1199px) {
  .header-menu {
    .menu-block {
      .menu {
        .link {
          margin-left: 25px;
        }

        .lang {
          margin: 0 30px;
        }
      }
    }
  }
  .banner {
    height: auto;

    .quote-block {
      height: auto;
    }
  }

  .modal {
    padding-left: 15px;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .header-menu {
    .menu-block {
      .menu {
        .link {
          margin-left: 25px;
        }

        .lang {
          margin: 0 30px;
        }

        .phone-link {
          a {
            width: 30px;
            overflow: hidden;
          }
        }
      }
    }
  }
  .banner {
    height: auto;

    .quote-block {
      height: auto;
    }
  }

  .offers {
    .col-4 {
      &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        .offer-item {
          border-left: 1px solid $separator;
        }
      }

      &:nth-child(1), &:nth-child(3), &:nth-child(5) {
        .offer-item {
          border-left: none;
        }
      }
    }
  }

  .projects {
    background: $sub-dark;
    overflow: hidden;

    .projects-slider {
      width: 525px;
      margin-left: auto;
      margin-right: auto;
    }

    .col-12:first-child {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: $dark-bg;
        top: 0;
        left: -180px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: $dark-bg;
        top: 0;
        right: -180px;
      }
    }
  }

  .quote .col-lg-6:last-child {
    padding-left: 40px;
  }

  .modal {
    padding-left: 15px;
  }
}

@media(max-width: 767px) {
  body {
    padding-top: 72px;
  }
  .container {
    padding-right: 15px;
    padding-left: 0;
  }

  .header-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .logo-block {
      padding: 0 10px;

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }

    .menu-block {
      .menu {
        .link {
          display: none;
        }

        .lang {
          margin: 0 0 0 10px;

          a {
            padding: 0 10px;
          }
        }

        .phone-link {
          margin-left: 10px;
        }
      }
    }
  }

  .banner {
    height: auto;

    .header-block {
      height: auto;
      padding: 22px 45px 10px 45px;
      background: $sub-dark;

      .banner-quote {
        h1 {
          font-size: 26px !important;
          line-height: 32px;
        }
      }

      .separator {
        margin: 15px 0;
      }
    }

    .bg-block {
      position: relative;
      height: 200px;

      .top {
        .banner-slider {
          height: 200px;

          .slide-item {
            width: 100vw;
            height: 200px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: left;
            }
          }
        }
      }
    }

    .details-block {
      h3 {
        font-size: 20px;
        line-height: 24px;
      }

      h4 {
        font-size: 15px;
        line-height: 18px;
      }
    }

    .quote-block {
      height: auto;
    }
  }

  .offers {
    .section-title {
      font-size: 26px;
      line-height: 32px;
      margin: 30px 0 20px 0;
    }

    .offer-item {
      margin-bottom: 30px;
      padding-right: 20px;

      h4 {
        width: 80%;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .col-4 {
      &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        .offer-item {
          border-left: 1px solid $separator;
        }
      }

      &:nth-child(1), &:nth-child(3), &:nth-child(5) {
        .offer-item {
          border-left: none;
        }
      }
    }
  }

  .projects-title {
    .container {
      padding-top: 60px;
      padding-bottom: 10px;
    }
  }

  .projects {
    background: $sub-dark;
    overflow: hidden;

    .info {
      padding-right: 20px;

      .project-content {
        height: 222px;
        overflow: hidden;
      }
    }

    .projects-slider {
      //max-height: 228px;
      margin-left: 30px;
      margin-right: 20px;

      a {
        height: auto !important;

        img {
          width: 100%;
          max-height: none !important;
          object-fit: cover;
        }
      }
    }

    .col-12:first-child {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: $dark-bg;
        top: 0;
        left: -180px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: $dark-bg;
        top: 0;
        right: -180px;
      }
    }

    .col-12:last-child {
      padding-right: 0;
    }
  }

  .clients {
    .container {
      padding-top: 70px;
      padding-bottom: 100px;
    }

    .clients-slider {
      padding: 0;
      margin-right: -15px;

      .slick-dots {
        bottom: -55px !important;
      }
    }
  }

  .quote {
    .col-lg-6:last-child {
      padding: 40px 35px 40px 55px;
    }

    &:after {
      background-position: center;
      background-size: cover;
    }
  }

  .contact {
    .container {
      padding-top: 50px;
      padding-right: 20px;
      padding-bottom: 80px;

      .company-info {
        flex-direction: column;
        align-items: flex-start;

        .company-address {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 15px;

          p {
            margin: 0;
          }

          .mobile-map {
            display: flex;
            height: 37px;
            padding: 0 8px;
            margin-bottom: 6px;
            justify-content: center;
            align-items: center;
            background-color: #19B431;
            box-shadow: 0px 3px 6px #00000029;
            -webkit-transition: 0.2s all ease-in;
            transition: 0.2s all ease-in;
            color: white;
            font-size: 16px;
            font-family: 'BioSansSemiBold', serif;
            text-decoration: none;

            img {
              width: 14px;
              margin-right: 5px;
            }

            &:hover {
              background-color: $active-navigation-bg;
            }
          }
        }

        .company-data {
          padding: 0;
        }
      }

      form {
        margin-top: 50px;
      }
    }
  }

  .bottom-quote {
    background-color: $dark-bg;

    .quote-block {
      width: 100%;
      padding: 25px 20px 25px 40px;

      p {
        font-size: 20px;
        font-family: 'BioSansSemiBold', serif;
        line-height: 24px;
        color: $main-font;
      }
    }
  }

  .map-section {
    display: none;
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .modal-dialog {
      position: fixed;
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 0;

      .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        overflow-y: scroll;

        .modal-body {
          width: 100% !important;
          min-height: auto !important;
          align-items: flex-start !important;
        }
      }
    }

    &.modal-offer {
      .info {
        height: auto !important;
        min-height: 100vh !important;
        padding: 75px 20px 40px 20px !important;
      }

      .side {
        .bg {
          display: none;
        }

        .close {
          img {
            width: 55px !important;
            height: 55px !important;
          }
        }
      }

      &.modal-map {
        .info {
          padding: 0 !important;

          #googleMobileMap {
            width: 100vw;
            height: 100vh;
          }
        }
      }
    }

    &.modal-reference {
      .attachment-wrapper {
        width: 100% !important;
        margin-top: 55px;
      }

      .side-close {
        width: 55px !important;

        &:before {
          display: none !important;
        }

        .close {
          img {
            width: 55px !important;
            height: 55px !important;
          }
        }
      }
    }

    &.modal-project {
      .gallery {
        position: absolute !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        padding: 0 !important;
        margin-top: 55px;

        .preview {
          width: 100% !important;
          height: 250px !important;

          .preview-img img {
            width: 100% !important;
            height: 250px !important;
          }
        }

        .slider-nav {
          width: 100% !important;
          height: 56px !important;
          margin: 8px 8px 0 8px !important;

          .slick-slide {
            height: 56px !important;
            margin: 0 5px !important;

            img {
              width: 100% !important;
              height: 56px !important;
              object-fit: cover !important;
            }
          }
        }

        .left-arrow-preview, .right-arrow-preview {
          display: none !important;
        }

        &:after {
          display: none !important;
        }
      }

      .close {
        img {
          width: 55px !important;
          height: 55px !important;
        }
      }
    }
  }

  .section-title {
    font-size: 26px;
  }

  .footer {
    .to-top {
      right: 20px;
    }
  }
}

@media(max-width: 361px) {
  .header-menu {
    .logo-block {
      padding: 0 10px;

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }

    .menu-block {
      .menu {
        .link {
          display: none;
        }

        .lang {
          margin: 0 0 0 8px;

          a {
            padding: 0 6px;
            font-size: 14px;
          }
        }

        .phone-link {
          margin-left: 10px;

          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .contact {
    .container {
      .company-info {
        .company-address {
          flex-direction: column;
          align-items: flex-start;

          .mobile-map {
            display: flex;
            height: 37px;
            padding: 0 8px;
            margin-top: 6px;
            margin-bottom: 6px;
            justify-content: center;
            align-items: center;
            background-color: #19B431;
            box-shadow: 0px 3px 6px #00000029;
            -webkit-transition: 0.2s all ease-in;
            transition: 0.2s all ease-in;
            color: white;
            font-size: 16px;
            font-family: 'BioSansSemiBold', serif;
            text-decoration: none;
          }
        }
      }
    }
  }
}
